<!DOCTYPE html>
<html>

<head>
  <title>Bookmark</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
  html {
    background-image: url(/static/images/paper_texture1.png);
  }

  body {
    background-image: url(/static/images/paper_texture1.png);
    font-family: "Open Sans", sans-serif;
  }

  h1, h2, h3, h4, h5 {
    font-family: "Open Sans", sans-serif;
    text-align: center;
  }
</style>

<body class="w3-theme-l5">
  <!-- Navbar -->
  <div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
        href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
      <a href="/" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i
          class="fa fa-home w3-margin-right"></i>Bookmark</a>
      <a href="loginpage" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
        title="Account Settings"><i class="fa fa-user"></i></a>
    </div>
  </div>
  
  <!-- Main Content -->
  <div class="w3-container w3-card w3-white w3-round w3-margin">
    <h2>We love to know what you're reading and what you're thinking about it.</h2>
  </div>

  <h1>Edit a Post</h1>
  <div class="w3-container w3-card w3-white w3-round w3-margin">
    <!-- Edit Post Form -->
    <form name="editpost" method="POST" onsubmit="return validateForm()">
      <label for="UserID">User ID:</label><br>
      <input type="text" id="UserID" name="UserID" value="{{ post.UserID }}" placeholder="UserID" required /><br>

      <label for="BookName">Book Name:</label><br>
      <input type="text" id="BookName" name="BookName" value="{{ post.BookName }}" placeholder="Book Name" required /><br>

      <label for="Author">Author:</label><br>
      <input type="text" id="Author" name="Author" value="{{ post.Author }}" placeholder="Author" /><br>

      <label for="Post">Post:</label><br>
      <textarea id="Post" name="Post" placeholder="Edit a Post" required>{{ post.Post }}</textarea><br>

      <input type="submit" value="Update Post" class="w3-button w3-blue">
    </form>
    <script>
      function validateForm(){
        var useridre = /^\d+$/;
        let userid = document.forms["editpost"]["UserID"].value

        if (!useridre.test(userid)){
          alert("UserID can only contain numbers");
          return false;
        }
        return true;
      }
    </script>
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-theme-d3 w3-padding-16">
    <h5><a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Contact Us"><i
          class="fa fa-envelope fa-fw w3-margin-right"></i>Contact Us</a></h5>
  </footer>

  <footer class="w3-container w3-theme-d5">
    <p>Powered by Bookmark</p>
  </footer>

  <script>
    // Accordion
    function myFunction(id) {
      var x = document.getElementById(id);
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
      } else {
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className =
          x.previousElementSibling.className.replace(" w3-theme-d1", "");
      }
    }

    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }
  </script>
</body>

</html>
