<!DOCTYPE html>


<html lang="en">

<head>
	<title>Bookmark Login</title>
	<link rel="stylesheet" href="static/css/styles.css">
	<script src="/static/js/validate.js"></script>
</head>

<body>

<header>
	<h1 class="title-text"><a href="home.html">Bookmark</h1>
		<nav>
			<ul>
				<a href="home.html">Home</a>&nbsp; &#9475; &nbsp;
				<a href="feed.html">Feed</a>&nbsp; &#9475; &nbsp;
			</ul>
		</nav>
	</header>

<main>
	<div>
       <h2>LOGIN HERE</h2>
        <form method="POST">
            <label for="Email">Email: </label><br>
            <input type="text" id="Email" name="Email" required><br>
            <br>

            <label for="Password">Password: </label><br>
            <input type="password" id="password" name="Password" required>
            <br>
            
            <input type="submit">
</main>



</body>

</html>